# Условие 1: 

Оформляйте ноутбук, используя эти советы:
Номер задачи - заголовок 2
Номер подзадачи - заголовок 3
Предоставленные наборы данных оформляйте, как код
Рекомендации для преподавателей по оценке задания:
Смотреть, чтобы студент красиво оформлял ноутбук, использовал ячейки с текстом, указывал номера заданий

# Условие 2: 

На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [23]:
def fruit(**kwargs):
    
    all_fruit = sum(kwargs.values())
    
    return f'all_fruit: {all_fruit}'

In [25]:
(fruit(oranges=12, apples=3, bananas=5))

'all_fruit: 20'

# Условие 3: 

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [42]:
data = [100, 125, -90, 345, 655, -1, 0, 200]

advertising=[i for i in data if i > 0]

In [44]:
advertising

[100, 125, 345, 655, 200]

In [48]:
print(f'advertising_expenses: {sum([i for i in data if i > 0 ])}')

advertising_expenses: 1425